* { margin: 0; }
.app { background-color: #fafafa; }
.app__header { position: sticky; top: 0; z-index: 1; object-fit: contain; background-color: #fff; padding: 20px; border-bottom: 1px solid lightgray; display: flex; justify-content: space-between; }
.app__signup { display: flex; flex-direction: column; }
.app__headerImage { object-fit: contain; }
.app__posts { padding: 20px; display: flex; flex-direction: row; justify-content: center; }
.app__postsRight { margin-left: 20px; }
.app__loginText { text-align: center; padding-bottom: 50px; }

@media only screen and (max-width: 480px) {
    .app__posts { flex-direction: column; }
    .app__postsRight { margin-left: 0; }
}